/*.D{
    display: inline;
    top:1rem;
    left:1rem;
    //position: relative;
    font-family: "oswald", sans-serif;
    font-size: 7rem;
    background-image: linear-gradient(45deg, $pinky_normal 20% , $azulito_normal 100%);//#810505,#eb1668
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
                    
}
.o{
    display: inline;
    //position: relative;
    font-family: "oswald", sans-serif;
    font-size: 7rem;
    background-image: linear-gradient(45deg, $pinky_normal 20% , $azulito_normal 100%);//#810505,#eb1668
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
                    
}
.w{
    display: inline;
    // position: relative;
    font-family: "oswald", sans-serif;
    font-size: 7rem;
    background-image: linear-gradient(45deg, $pinky_normal 20% , $azulito_normal 100%);//#810505,#eb1668
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.n{
    display: inline;
    // position: relative;
    font-family: "oswald", sans-serif;
    font-size: 7rem;
    background-image: linear-gradient(45deg, $pinky_normal 20% , $azulito_normal 100%);//#810505,#eb1668
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.l{
    display: inline;
    //position: relative;
    font-family: "oswald", sans-serif;
    font-size: 7rem;
    background-image: linear-gradient(45deg, $pinky_normal 20% , $azulito_normal 100%);//#810505,#eb1668
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.a{
    display: inline;
    //position: relative;
    font-family: "oswald", sans-serif;
    font-size: 7rem;
    background-image: linear-gradient(45deg, $pinky_normal 20% , $azulito_normal 100%);//#810505,#eb1668
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.d{
    display: inline;
    // position: relative;
    font-family: "oswald", sans-serif;
    font-size: 7rem;
    background-image: linear-gradient(45deg, $pinky_normal 20% , $azulito_normal 100%);//#810505,#eb1668
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.s{
    display: inline;
    // position: relative;
    font-family: "oswald", sans-serif;
    font-size: 7rem;
    background-image: linear-gradient(45deg, $pinky_normal 20% , $azulito_normal 100%);//#810505,#eb1668
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
*/