//color set
$badass-light: #bada55;
$badass-dark: #bada10;

$black-transparent: rgba(0, 0, 0, 0.37);
$black-back: rgb(17, 17, 17);

$white-transparent: rgba(255, 255, 255, 0.37);
$white-back: rgb(255, 255, 255);
$white:white;

$azulito: rgba(255, 160, 71, 0.5);
$pinky: rgba(216, 47, 86, 0.5);//transparent
//$azulito: rgba(57, 106, 124, 0.5);//transparent

$azulito_normal: rgb(255, 160, 82);
$pinky_normal: rgb(216, 47, 86);//#d82f56
//$azulito_normal: #396a7c;



